<div class="container-fluid">

    <div class="d-flex justify-content-center" style="margin-top:3%">
        <div class="col-xl-8 col-md-11 col-sm-12 shadow-lg p-3 bg-light rounded">
            <div class="text-left">
                <h3>{{bookTitle}}</h3>
                {{{ifBuy buy buyPrice}}}
                {{{ifRent rent rentPrice}}}

            </div>
            <br>

            <!-- title, author, release date, description, genre, condition, buy price, rent price, location, phone number, pictures -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-11 col-sm-11 col-md-11 col-lg-7 col-xl-7 col-xxl-7 rounded" style="background-color: rgba(255, 0, 0, 0.055); margin-right:1%;">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">Author</th>
                                <td>{{author}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Release year</th>
                                <td>{{bookReleaseYear}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Genre</th>
                                <td>
                                    {{#each genre as |genrei|}}
                                        {{{genrei}}}
                                    {{/each}}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Condition</th>
                                <td>{{condition}}</td>
                            </tr>

                            </tbody>
                        </table>

                        <b>Description: </b><br>
                        <div class="description">
                            {{description}}
                        </div>
                        <br>


                        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
                            {{#each pictures as |picture|}}
                                {{{showBookPicture2 picture}}}
                            {{/each}}

                        </div>
                    </div>
                    <div class="col-11 col-sm-11 col-md-11 col-lg-4 col-xl-4 col-xxl-4 rounded" style="background-color: rgba(255, 85, 34, 0.055);">

                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">Seller</th>
                                <td>{{sellerName}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone</th>
                                <td>{{phone}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{sellerEmail}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Location</th>
                                <td>{{location}}</td>
                            </tr>


                            </tbody>
                        </table>
                        <a class="btn btn-info" href="/usersProfileView/{{sellerId}}">Seller Profile</a>
                        <br><br><br>
                        <table class="table">
                            <tbody>
                            {{{ifBuy2 buy buyPrice}}}
                            {{{ifRent2 rent rentPrice}}}
                            </tbody>
                        </table>

                        <!-- BUTTONI BOJO POSLALI MAIL PRODALAJCU DA JE KNJIGA KUPLJENA/RENTANA, V BAZI BODO OZNALIČE KNJIGO KOT SOLD/RENTED -->

                        {{{ifBuy3 buy sellerEmail sellerId logged}}}
                        {{{ifRent3 rent sellerEmail sellerId logged}}}
                        <!-- <button type="button" class="btn btn-success">RENT</button> -->
                        <input type="text" name="sellerEmail" id="sellerEmail" value="{{sellerEmail}}" hidden>
                        <input type="text" name="sellerName" id="sellerName" value="{{sellerName}}" hidden>
                        <input type="text" name="buyerName" id="buyerName" value="{{buyerName}}" hidden>
                        <input type="text" name="bookTitle" id="bookTitle" value="{{bookTitle}}" hidden>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>